<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

  <table>
  <tr>
    <th>Playlists</th>
  </tr>

<% @user.playlists.each do |playlist| %>
  <tr>
    <a href="<%= playlist.tracks.first.yt_url %>" rel="prettyPhoto[<%= playlist.id %>]">
      <td><%=h playlist.name %></td>
    </a>
    <% playlist.tracks.each do |track| %>
      <a href="<%= track.yt_url %>" rel="prettyPhoto[<%= playlist.id %>]">a</a>
    <% end %>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
